.app_signin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 1rem 2rem;
}

.app_signin-user {
    display: flex;
    flex-direction: column;
}

.app_signin-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.app_signin input {
    flex: 1;
    height: 40px;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-logo);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 1px 2px 3px rgba(160, 136, 136, 0.205);
    margin: 10px;
}

.app_signin-checkbox input {
    width: 50px !important;
    height: 20px;
}

.app_signin-checkbox input[type=checkbox] {
    accent-color: red;
}

.app_signin-login {
    display: flex;
    align-items: center;
}

.app_signin-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}


.app_signin-login button:hover {
    background-color: var(--color-hover);

}

.app_signin-login button {
    padding: 0.5rem 1rem;
    width: 250px;
    margin-top: 3rem;
    color: white;
    background-color: var(--color-logo);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.app_signin p {
    text-decoration: underline;
    margin-top: 1rem;
}

@media screen and (max-width: 550px) {
    .app_signin input {
        width: 250px;

    }
}