.app_navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}

.app_navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app_navbar-logo img {
    width: 250px;
}

.app_navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.app_navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app_navbar-links li:hover {
    color: var(--color-gray);
}

.app_navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app_navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}


.app_navbar-login button:hover {
    background-color: var(--color-hover);

}

.app_navbar-login button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--color-logo);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    left: 1153px;
    top: 55px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.app_navbar-login div {
    width: 1px;
    height: 40px;
    background: var(--color-grey);
}

.app_navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.app_navbar-menu svg {
    cursor: pointer;
}

.app_navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}


.app_navbar-menu_container li {
    margin: 1rem 0;
}

.app_navbar-menu_container-links_sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .app_navbar-links {
        display: none;
    }

    .app_navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 850px) {
    .app_navbar {
        padding: 2rem 4rem;
    }

    .app_navbar-menu_container {
        top: 20px;
        list-style: none;
        background-color: white;
    }

    .app_navbar-login button:hover {
        background-color: rgb(53, 214, 48);
    }
}

@media screen and (max-width: 550px) {
    .app_navbar {
        padding: 2rem;
    }

    .app_navbar-login {
        display: none;
    }

    .app_navbar-menu_container {
        top: 20px;
        list-style: none;
        background-color: white;
    }

    .app_navbar-menu_container-links li {

        cursor: pointer;
    }

    .app_navbar-menu_container-links a {

        text-decoration: none;
        transition: 0.5s ease;
    }

    .app_navbar-menu_container-links_sign {
        display: block;
    }

    .app_navbar-menu_container button {
        padding: 0.5rem 1rem;
        color: black;
        background-color: var(--color-logo);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        left: 1153px;
        top: 55px;
        border-radius: 5px;
        border: 0;
        outline: none;
        cursor: pointer;
    }
}