.app_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    border-top: 1px solid lightgrey;
}

.app_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.app_footer-links div {
    width: 250px;
    margin: 1rem;
}

.app_footer-links_logo {
    display: flex;
    flex-direction: column;
}

.app_footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.app_footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.app_footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.app_footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: black;

    margin-bottom: 0.9rem;
}

.app_footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: black;

    margin: 0.5rem 0;
    cursor: pointer;
}

.app_footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.app_footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: black;
}

@media screen and (max-width: 850px) {
    .gpt3__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .app_footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .app_footer-links div {
        margin: 1rem 0;
    }

    .app_footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .gpt3__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}